<h3>Login</h3>

<% form_for :check, :url => {:action => "check"} do |f| %>
<table class="">
    <tr>
        <td><%=f.label :rolle, "Rolle: " %></td>
        <td><%= f.text_field :rolle, :size=>20 %></td>
    </tr>
    <tr>
        <td><%= f.label :ani, "Passwort: " %></td>
        <td><%= f.password_field :ani %></td>
    </tr>
</table>    
    <%= submit_tag "Anmelden"%>
<% end %>



